<!DOCTYPE html>
<html>
 <head> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes,text/html; charset=utf-8" />

  <title>Bill</title> 
  <style>

</style> 
 </head> 
 <body bgcolor="#336699"> 
  <div id="main" align="center"> 
   <form method="post" action="/poem"> 
    <p style="color:#FF9933;font-size:16px;" align="center">付款方式：<input class="text" type="text" placeholder="1 card 2 zhifubao 3 wx" name="noun1" /></p> 
    <p style="color:#FF9933;font-size:16px;" align="center">付款时间：<input class="text" type="text" placeholder="20190101" name="noun2" /></p> 
    <p style="color:#FF9933;font-size:16px;" align="center">付款类型：<input class="text" type="text" placeholder="餐饮 交通 平账 代付" name="noun3" /></p> 
    <p style="color:#FF9933;font-size:16px;" align="center">付款明细：<input class="text" type="text" placeholder="早饭 公交 代付 瓜子" name="noun4" /></p> 
    <p style="color:#FF9933;font-size:16px;" align="center">付款金额：<input class="text" type="text" placeholder="3 -5" name="noun5" /></p> 
    <div align="center"> 
     <input type="submit" ;="" align="center" /> 
    </div> 
   </form> 
  </div>  
 </body>
</html>


